{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
      "languages": [
        "javascript", "css", "markup", "bash", "diff", "docker", "go", "graphql",
        "ignore", "json", "markdown", "nginx", "php", "python", "jsx", "tsx", "regex",
        "ruby", "sql", "swift", "typescript", "vim", "yaml", "command-line"
      ],
      "plugins": [],
      "theme": "tomorrow",
      "css": true
    }],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
